# Cloudflare
CF_Key=<YOUR_CF_API_KEY>
CF_Email=<YOUR_CF_EMAIL>

# Domain & Addresses
CF_DOMAIN=<YOUR_DOMAIN>
WORKER_ADDRESS=<YOUR_WORKER_ADDRESS>
MY_ADDRESS=<YOUR_PERSONAL_MAIL>

# Sender
FROM_NAME=<YOUR_DISPLAY_NAME>

# Resend
RESEND_API_KEY=<YOUR_RESEND_API_KEY>
